version: "3.9"

services:
  app:
    build:
      context: ./docker/php
    container_name: authx_app
    volumes:
      - ./src:/var/www
    depends_on:
      - mysql
      - redis

  nginx:
    image: nginx:1.25
    container_name: authx_nginx
    ports:
      - "8081:80"
    volumes:
      - ./src:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    container_name: authx_mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: authx
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: authx
      MYSQL_PASSWORD: secret
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:7
    container_name: authx_redis
    ports:
      - "6379:6379"

volumes:
  mysql_data:
